* {
  --themC: #209fe9; /*定义变量*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
    Font-size: 62.5%;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration-line: none;
  color: #333;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 首页banner */
.nav {
  display: flex;
  justify-content: space-around;
}
.nav li {
  height: 3.4rem;
  line-height: 3.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav li.active {
  border-bottom: .2rem solid var(--themC);
}
.nav li a {
  color: #333;
  font-size: 1.52rem;
  text-decoration: none;
}


/* 二级页面标题栏 */
.headbar_wrap {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
}
.back_btn {
  position: absolute;
  width: 1,5rem;
  height: 1.5rem;
  left: 2rem;
}
.headbar_wrap span{
  font-size: 140%;
  color: #fff;
}
.search_all_in {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2rem;
}

/* 歌曲列表 */
.new_song_wrap {
  /* padding: 1rem; */
 }
.new_song_wrap li{
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem;
}
.song_item_wrap{
  display: flex;
  align-items: center;
  width: 100%;
}
.rank_circle{
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 2rem;
  margin-right: 1rem;
  font-size: 140%;
}
.new_song_wrap li:nth-child(1) .rank_circle{
  background-color: rgb(238, 25, 25);
}
.new_song_wrap li:nth-child(2) .rank_circle{
  background-color: rgb(221, 84, 21);
}
.new_song_wrap li:nth-child(3) .rank_circle{
  background-color: rgb(221, 144, 43);
}
.song_name_wrap{
  flex: 1;
}
.song_name{
  flex: 8;
  font-size: 140%;
}
.song_album{
  color: #555;
  flex: 8;
  font-size: 120%;
  margin-top: .3rem;
}
.like{
  display: block;
  width: 3rem;
  height: 3rem;
  background: 50% 50% url(../img/notlove.png) no-repeat;
  background-size: 60%;
}


/* 全部加入播放列表 */
.all_in_wrap {
  border-bottom: .1rem solid var(--themC);
  padding: 1rem;
  display: flex;
  align-items: center;
}
.all_in_wrap p{
  color: var(--themC);
  flex: 1;
}
.all_in_wrap a{
  background: 50% 50% url(../img/all_in.png) no-repeat;
  background-size: 80%;
  width: 2rem;
  height: 2rem;
  /* position: absolute; */
  right: 0;
  top: 0;
}

