* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  Font-size: 62.5%;
}
ul,ol,li {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav li {
  height: 3.4rem;
  line-height: 3.4rem;
  /* padding: 0 2%; */
}
.nav li.active {
box-shadow: inset 0px -2px 0px #e9203d;
}
.nav li a {
color: #333;
font-size: 1.52rem;
text-decoration: none;
}
.nav li a.active {
color: #e9203d;
}