.img_wrap {
    /* width: 10rem; */
    height: 9rem;
}
.img_banner {
    width: 37.5rem;
    height: 13.6rem;
}
.more_wrap {
    display: flex;
    flex-direction: row;
}
.more_txt {
    font-size: 1.4rem;
    margin: .5rem;
}
.arrow_right {
    width: 1.5rem;
    height: 2.6rem;
    background: 50% 50% url(../../../static/img/arrow.png) no-repeat;
    background-size: 90%;
    right: 1rem;
    position: absolute;
}
.reconmmed_ul {
    list-style: none;
    padding: .4rem;
}
.recmmend_li {
    position: relative;
    width: 33.3333%;
    float: left;
    padding: .4rem;
}
.recmmend_li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.recmmend_li a img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.recmmend_li a p {
    padding: 5px;
    overflow: hidden;
    height: 3.2rem;
    word-break: break-all;
    font-size: 1.1rem;
}
.recmmend_li a div {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    top: 0;
    padding: .2rem;
}
.recmmend_li a div img{
    width: 1.2rem;
    height: 1.2rem;
}
.recmmend_li a div span{
    color: #fff;
    font-size: 100%;
    margin-left: .2rem;
}

.album_info_wrap {
    
}
.cover_bg {
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: blur(60px);
    width: 100%;
    -webkit-filter: blur(60px);
    position: absolute;
    top: 38px;
    z-index: -1;
}
.album_info_wrap_top {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.album_info_wrap_top img {
    width: 11rem;
    height: 11rem;
}
.album_info_txt_wrap {
    padding-left: 1rem;
}
.album_info_txt_wrap p{
    color: #444;
    font-size: 140%;
    margin-top: .5rem;
}
